= render 'shared/header'

.ranking-form
  %h1 新規ランキング
  = form_for [@ranking, @item] do |f|
    .ranking-form__field.clearfix
      .ranking-form__field--left
        %label.ranking-form__label ランキング名
      .ranking-form__field--right
        .ranking-form__input
          = @ranking.name
    .ranking-form__field.clearfix
      .ranking-form__field--left
        %label.ranking-form__label ランキング対象を追加
      .ranking-form__field--right
        - @items.each do |item|
          - if item.present?
            .ranking-form__input
              = item.name             
            = link_to "削除", ranking_item_path(@ranking, item), method: :delete, class: "ranking-form__delete--link"
        = f.text_field :name,  class: "ranking-form__input ranking-form__input--padding", placeholder: '例： ラーメン'
        = f.submit "登録", class: 'ranking-form__registration--link'
      
    .ranking-form__field.clearfix
      .ranking-form__field--left
      .ranking-form__field--right
        = link_to "完了", ranking_path(@ranking.id), class: 'ranking-form__action-btn'